@model IEnumerable<CursoMod165.Models.Appointment>

<h1>Index</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New"]</a>
</p>

<p>
    <a asp-action="TomorrowsAppointments" class="btn btn-primary">Check tomorrow's Appointments</a>
</p>

<p>
    <a asp-action="NextWeekAppointments" class="btn btn-secondary">Check Next Week's Appointments</a>
</p>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(ap => ap.Number).Titled(SharedLocalizer["Appointment #"]);
            columns.Add(ap => ap.Date).Titled(SharedLocalizer["Date"]).Formatted("{0:dd-MMM-yyyy}")
                                                     .Filterable(GridFilterType.Double);
            columns.Add(ap => ap.Time).Titled(SharedLocalizer["Time"]).Formatted("{0:t}");
            columns.Add(ap => ap.Customer.Name).Titled(SharedLocalizer["Customer"]);
            columns.Add(ap => ap.Staff.Name).Titled(SharedLocalizer["Staff"])
                .RenderedAs(ap => $"{ap.Staff.Name}  [{SharedLocalizer[ap.Staff.StaffRole.Name].Value}]");
            columns.Add(ap => SharedLocalizer[ap.Staff.StaffRole.Name].Value).Titled(SharedLocalizer["Staff Role"]);
            columns.Add(ap => ap.IsDone).Titled(SharedLocalizer["Is Done?"])
                .RenderedAs(ap => (ap.IsDone == true ? SharedLocalizer["Yes"] : SharedLocalizer["No"]))
                .UsingFilterOptions(new[]
                {
                    new SelectListItem{ Value = "true", Text = SharedLocalizer["Yes"].Value },
                    new SelectListItem{ Value = "false", Text = SharedLocalizer["No"].Value }
                });

            columns.Add(ap =>
                Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit", new { id = ap.ID }, new {@class="btn btn-primary"}));
            columns.Add(ap =>
                Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = ap.ID }, new { @class = "btn btn-primary" }));
        })
        .Filterable()
        .Sortable()
        
)
